.del-bucket:before  { content: "\2718"; }


h4 {
	display: inline;
}


#new-bucket-form {
	float: left;
}

.collapse {
  max-height: 600px;
  overflow: auto;
}

.del-entry {
	width: 20px;
}

.key {
	width: 100%;
}

.value {
	width: 60%;
}
