.cross:before  { content: "\2718"; color: red; }


h4 {
	display: inline;
}

.del-entry {
	width: 25px;
}

textarea { 
   resize:vertical;/*will prevent resizing horizontally*/ 
   width: 49%;
}

.btn-exit{
	display: inline;
}
h2{
	display: inline;
}