<!doctype html>
<html ng-app="BoltGUI">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">


    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.2.min.js"></script>
    <script src="js/recursiongelper.js"></script>
    <script src="js/boltguiapp.js"></script>
  </head>
  <body>
    <div class="container">
      
      <div ng-controller="BucketsController as bucketsList">
        <alert ng-repeat="alert in bucketsList.alerts" type="{{alert.type}}" close="bucketsList.closeAlert($index)">{{alert.msg}}</alert>
        <h2>Buckets</h2>
        <button class="btn btn-danger pull-right btn-exit" ng-click="bucketsList.exit()">Exit</button>
          <div >

            <bucket-view ng-repeat="bucket in bucketsList.buckets" class="bucket" bucket="bucket" parent="bucketsList"> </bucket-view>

          </div>
          


      
        <form class="form-inline" ng-submit="bucketsList.addBucket()">
          <input type="text" class="hiden form-control" ng-model="bucketsList.newBucketName" placeholder="Bucket name">
          <button type="submit" class="btn btn-primary">Create bucket</button>
        </form>


        <script type="text/ng-template" id="editmodal.html">
          <div class="modal-header">
              <h3 class="modal-title">
                <div ng-if="isNew">Create new entry</div>
                <div ng-if="!isNew">Edit entry</div>
              </h3>
          </div>
          <div class="modal-body">
                  <textarea ng-if="isNew" placeholder="New key here" ng-model="newEntry.key"></textarea>
                  <textarea readonly ng-if="!isNew" ng-model="newEntry.key"></textarea>

                  <textarea placeholder="New value here" ng-model="newEntry.value"></textarea>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
          </div>
        </script>
      </div>
    </div>
  </body>
</html>